In [1]:
# Data management
# ------------------------------------------------------------------------------
import numpy as np
import pandas as pd
import re  # Para exprsiones regulares
from datetime import datetime

# Graphics
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt

# mlxtend library
# ------------------------------------------------------------------------------

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder



# Configuración warnings
# ------------------------------------------------------------------------------
import warnings
#warnings.filterwarnings('once')
warnings.filterwarnings('ignore')

In [2]:
# reading raw file

raw_data = pd.read_csv('datos_practica_RA.csv', header=None, sep='^')
raw_data.head()

                                                   0
0  1/1/2000yogurt, pork, sandwich bags, lunch mea...
1  1/1/2000toilet paper, shampoo, hand soap, waff...
2  2/1/2000soda, pork, soap, ice cream, toilet pa...
3  2/1/2000cereals, juice, lunch meat, soda, toil...
4  2/1/2000sandwich loaves, pasta, tortillas, mix...

In [3]:
# estimating maximum number of columns/products
max_col_count = max([row.count(',') for row in raw_data[0]])

In [4]:
# Assigning column indexes
raw_data = pd.read_csv('datos_practica_RA.csv', header=None, names=list(range(max_col_count)), sep=", ")

In [5]:
# strip each item
for col in raw_data.columns:
    raw_data[col] = raw_data[col].str.strip()

In [6]:
raw_data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,1/1/2000yogurt,pork,sandwich bags,lunch meat,all- purpose,flour,soda,butter,vegetables,beef,...,None,None,None,None,None,None,None,None,None,None
1,1/1/2000toilet paper,shampoo,hand soap,waffles,vegetables,cheeses,mixes,milk,sandwich bags,laundry detergent,...,None,None,None,None,None,None,None,None,None,None
2,2/1/2000soda,pork,soap,ice cream,toilet paper,dinner rolls,hand soap,spaghetti sauce,milk,ketchup,...,spaghetti sauce,pork,vegetables,cheeses,eggs,vegetables,"vegetables,",None,None,None

In [7]:
# Separation date and text from first column.

def strip_date_text(s):
    match = re.search(r'(\d{1,2}/\d{1,2}/\d{4})([a-z /-]+)', s)
    date = datetime.strptime(match.groups()[0], '%d/%m/%Y').date()
    return date, match.groups()[1]

In [8]:
transac_data = pd.concat([pd.DataFrame(raw_data[0].apply(strip_date_text).tolist()), raw_data.iloc[:, 1:]], axis=1, ignore_index=True)

In [9]:
transac_data.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,2000-01-01,yogurt,pork,sandwich bags,lunch meat,all- purpose,flour,soda,butter,vegetables,...,None,None,None,None,None,None,None,None,None,None
1,2000-01-01,toilet paper,shampoo,hand soap,waffles,vegetables,cheeses,mixes,milk,sandwich bags,...,None,None,None,None,None,None,None,None,None,None
2,2000-01-02,soda,pork,soap,ice cream,toilet paper,dinner rolls,hand soap,spaghetti sauce,milk,...,spaghetti sauce,pork,vegetables,cheeses,eggs,vegetables,"vegetables,",None,None,None
3,2000-01-02,cereals,juice,lunch meat,soda,toilet paper,"all- purpose,",None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,2000-01-02,sandwich loaves,pasta,tortillas,mixes,hand soap,toilet paper,vegetables,vegetables,paper towels,...,all- purpose,soda,"yogurt,",None,None,None,None,None,None,None

In [10]:
#Let's transform the list, with one-hot encoding

# Apriori’s algorithm transforms True/False or 1/0.
# Using TransactionEncoder, we convert the list to a One-Hot Encoded Boolean list.
# Products that customers bought or did not buy during shopping will now be represented by values 1 and 0.

dataset = [transac_data.loc[i].dropna()[1:-1].values for i in range(len(transac_data))]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
df.head()

,all- purpose,aluminum foil,bagels,beef,butter,cereals,cheeses,coffee/tea,dinner rolls,dishwashing liquid/detergent,...,shampoo,soap,soda,spaghetti sauce,sugar,toilet paper,tortillas,vegetables,waffles,yogurt
0,True,True,False,True,True,False,False,False,True,False,...,True,True,True,False,False,False,False,True,False,True
1,False,True,False,False,False,True,True,False,False,True,...,True,False,False,False,False,True,True,True,True,True
2,False,False,True,False,False,True,True,False,True,False,...,True,True,True,True,False,True,False,True,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,True,False,...,False,False,True,True,False,True,True,True,True,False

In [12]:
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 213 combinations | Sampling itemset size 32

     support                    itemsets
0   0.352235              (all- purpose)
1   0.371581             (aluminum foil)
2   0.368913                    (bagels)
3   0.352902                      (beef)
4   0.352235                    (butter)
..       ...                         ...
70  0.272849         (sugar, vegetables)
71  0.270847  (toilet paper, vegetables)
72  0.254837     (tortillas, vegetables)
73  0.286858       (waffles, vegetables)
74  0.292195        (yogurt, vegetables)

[75 rows x 2 columns]

In [13]:
# We chose the 60% minimum confidence value. In other words, when product X is purchased, we can say that 
# the purchase of product Y is 60% or more.

#Let's view our interpretation values using the Associan rule function.
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.2)
df_ar

# df_ar.to_excel("study.xlsx")

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(all- purpose),(vegetables),0.352235,0.703135,0.269513,0.765152,1.088199,0.021844,1.264069,0.125124
1,(vegetables),(all- purpose),0.703135,0.352235,0.269513,0.383302,1.088199,0.021844,1.050376,0.273023
2,(aluminum foil),(vegetables),0.371581,0.703135,0.290861,0.782765,1.113249,0.029589,1.366558,0.161880
3,(vegetables),(aluminum foil),0.703135,0.371581,0.290861,0.413662,1.113249,0.029589,1.071770,0.342676
4,(vegetables),(bagels),0.703135,0.368913,0.277518,0.394687,1.069866,0.018123,1.042580,0.219976
...,...,...,...,...,...,...,...,...,...,...
69,(vegetables),(tortillas),0.703135,0.344229,0.254837,0.362429,1.052870,0.012797,1.028545,0.169151
70,(waffles),(vegetables),0.375584,0.703135,0.286858,0.763766,1.086228,0.022772,1.256652,0.127132
71,(vegetables),(waffles),0.703135,0.375584,0.286858,0.407970,1.086228,0.022772,1.054703,0.267405
72,(yogurt),(vegetables),0.363576,0.703135,0.292195,0.803670,1.142980,0.036552,1.512067,0.196558
73,(vegetables),(yogurt),0.703135,0.363576,0.292195,0.415560,1.142980,0.036552,1.088947,0.421384

## Buscar productos asociados al producto más vendido

In [14]:
# Encontrar producto más vendido:
dataset = [transac_data.loc[i].dropna()[1:-1].values for i in range(len(transac_data))]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
product_counts = df.sum()
most_sold_product = product_counts.idxmax()

print("Most sold product: ", most_sold_product)

Most sold product:  vegetables

In [15]:
# Encontrar las reglas que asocian el producto más vendido con otros:
vegetables_df = df_ar[df_ar['antecedents'].fillna('').astype(str).str.contains("vegetables")]
vegetables_df.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
1,(vegetables),(all- purpose),0.703135,0.352235,0.269513,0.383302,1.088199,0.021844,1.050376,0.273023
3,(vegetables),(aluminum foil),0.703135,0.371581,0.290861,0.413662,1.113249,0.029589,1.071770,0.342676
4,(vegetables),(bagels),0.703135,0.368913,0.277518,0.394687,1.069866,0.018123,1.042580,0.219976
6,(vegetables),(beef),0.703135,0.352902,0.260173,0.370019,1.048504,0.012036,1.027171,0.155828
9,(vegetables),(butter),0.703135,0.352235,0.264843,0.376660,1.069344,0.017174,1.039185,0.218442

In [16]:
# Obtener los productos consecuentes con la confianza más alta:
# Ordenar el DataFrame por la columna "confidence" en orden descendente
sorted_df = vegetables_df.sort_values(by='confidence', ascending=False)

# Seleccionar las primeras N filas
top_N_rows = sorted_df.head(3)

print("Productos más asociados al producto más vendido: ")
print(top_N_rows['consequents'].values)

Productos más asociados al producto más vendido:
[frozenset({'poultry'}) frozenset({'eggs'}) frozenset({'yogurt'})]

## Calcular un orden más óptimo de productos en el supermercado

In [36]:
## Cargar todos los productos

all_products_with_duplicates = df_ar['antecedents'].values

all_products = []
for product in all_products_with_duplicates:
    if product not in all_products:
        all_products.append(product)

print(all_products)

[frozenset({'all- purpose'}), frozenset({'vegetables'}), frozenset({'aluminum foil'}), frozenset({'bagels'}), frozenset({'beef'}), frozenset({'butter'}), frozenset({'cereals'}), frozenset({'cheeses'}), frozenset({'coffee/tea'}), frozenset({'dinner rolls'}), frozenset({'dishwashing liquid/detergent'}), frozenset({'eggs'}), frozenset({'flour'}), frozenset({'fruits'}), frozenset({'hand soap'}), frozenset({'ice cream'}), frozenset({'individual meals'}), frozenset({'juice'}), frozenset({'ketchup'}), frozenset({'laundry detergent'}), frozenset({'lunch meat'}), frozenset({'milk'}), frozenset({'mixes'}), frozenset({'paper towels'}), frozenset({'pasta'}), frozenset({'pork'}), frozenset({'poultry'}), frozenset({'sandwich bags'}), frozenset({'sandwich loaves'}), frozenset({'shampoo'}), frozenset({'soap'}), frozenset({'soda'}), frozenset({'spaghetti sauce'}), frozenset({'sugar'}), frozenset({'toilet paper'}), frozenset({'tortillas'}), frozenset({'waffles'}), frozenset({'yogurt'})]

In [37]:
supermarquet_order = []
antecedent = all_products[0]
supermarquet_order.append(antecedent)

for product in all_products:
    break_loop = False
    best_consequents = df_ar[(df_ar['antecedents'].fillna('') == antecedent)].sort_values(by='confidence', ascending=False)['consequents'].values
    # print(best_consequents)
    for consequent in best_consequents:
        if consequent not in supermarquet_order:
            optimum_consequent = consequent 
            break_loop = True
            supermarquet_order.append(optimum_consequent)

        if break_loop:
            break
        else:
            for product in all_products:
                if product not in supermarquet_order:
                    optimum_consequent = product 
                    supermarquet_order.append(optimum_consequent)
                    break

    antecedent = optimum_consequent


print(supermarquet_order)

[frozenset({'all- purpose'}), frozenset({'vegetables'}), frozenset({'poultry'}), frozenset({'aluminum foil'}), frozenset({'bagels'}), frozenset({'beef'}), frozenset({'butter'}), frozenset({'cereals'}), frozenset({'cheeses'}), frozenset({'coffee/tea'}), frozenset({'dinner rolls'}), frozenset({'dishwashing liquid/detergent'}), frozenset({'eggs'}), frozenset({'flour'}), frozenset({'fruits'}), frozenset({'hand soap'}), frozenset({'ice cream'}), frozenset({'individual meals'}), frozenset({'juice'}), frozenset({'ketchup'}), frozenset({'laundry detergent'}), frozenset({'lunch meat'}), frozenset({'milk'}), frozenset({'mixes'}), frozenset({'paper towels'}), frozenset({'pasta'}), frozenset({'pork'}), frozenset({'sandwich bags'}), frozenset({'sandwich loaves'}), frozenset({'shampoo'}), frozenset({'soap'}), frozenset({'soda'}), frozenset({'spaghetti sauce'}), frozenset({'sugar'}), frozenset({'toilet paper'}), frozenset({'tortillas'}), frozenset({'waffles'}), frozenset({'yogurt'})]

Este no es el orden más óptimo, pero sí es uno mejor

## Conclusiones

Se ha determinado que el producto más vendido son las verduras. Además, se ha deducido que los productos más comprados justo después de que un cliente compre unas verduras son: poultry, eggs y yougurt.

Por otro lado, gracias a las asociaciones encontradas, se ha diseñado un orden de colocación de los productos que es mejor que uno aleatorio